*.c
*.o
*.a
*.so
*.sw[pon]
setup-api.import.scm
setup-download.import.scm
chicken-config.h
chicken-defaults.h
chicken
chicken-bug
chicken-install
chicken-profile
chicken-status
chicken-uninstall
chicken.import.so
csc
csi
buildbranch
buildid
buildtag.h
libchicken.so.[67]
chicken-boot*
tests/dwindtst.out
tests/empty-file
tests/fft1
tests/fft2
tests/privvy
tests/r4rstest.log
tests/rev-app/
tests/reverser/tags/1.0/reverser.import.scm
tests/reverser/tags/1.1/reverser.import.scm
tests/runtests.short.sh
tests/scrutiny-2.expected
tests/scrutiny-2.out
tests/test-repository/
